.card {
    width: 100%;
    min-height: 40px;
    background-color: #572bb3;
    margin-bottom: 15px;
    cursor: pointer;
}

.todo {
    background-color:#6868ec;
    color:white;
}

.completed {
    background-color:#f4d81f;
    color:black;
    text-decoration: line-through;
}

.cardContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title { 
    text-align: left;
    padding-left: 5px;
}

.btn {
    text-align: right;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
}